*{
    margin: 0px;
    padding: 0px;
}

.logo-header{
    height: 25px;
    width: 90px;
    padding: 20px;
}


.menue-header{
    background-color: rgb(65, 61, 61);
    color: white;
    display: flex;
    justify-content: space-around;
    
    
}
.list-header{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
}
.item{
   margin-right: 30px; 
}