*{
    margin: 0px;
    padding: 0px;
}

.logo-header{
    height: 25px;
    width: 90px;
    padding: 20px;
}


.menue-header{
    background-color: rgb(129, 197, 61);
    color: white;
    display: flex;
    justify-content: space-around;
    
}
.list-header{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
}
.item{
   margin-right: 30px; 
}

.banner-portion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-image: url('images/background.png'), linear-gradient(40deg, rgb(5, 5, 5), #021f09);
    color: white;
    
}
.img-shape{
    height: 300px;
}
.banner-img{
    justify-content: center;
}
.weight{
    font-size: 60px; 
    color: white;   
}

.p-style{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: white;  
}
.btn{
    padding:13px 22px ;
    color: white;
    border-radius: 5px;
    background-color: rgb(129, 197, 61);
    border: none;
    font-size: medium;  
}
.about-us{
    height: 350px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.direction{
    text-align: center;
    padding: 20px;
}
.box{
    height: 300px;
    width: 220px;
    background-color:rgb(4, 37, 4) ;
    color: white;
    box-shadow:20px rgb(25, 146, 25);
    padding: 20px;
    text-align: center;
    box-shadow: 4px  2px 105px rgb(107, 219, 96);
    border-radius: 10px;
    
}
.about-icon{
    height: 60px;
    align-items: center;
    
}
.btn-details{
    background-color: rgb(88, 124, 88);
    color: white;
    border-radius: 3px;
    padding: 10px;
    width: 80px;
    border: none;
}
.service{
    display: flex;
    justify-content: space-around;
}
.bg{
    background-color: rgb(4,37,4);
    height: 500px;
    padding: 30px;
}
.pd{
    padding: 30px;
}
.bottom{
    
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-around;
   align-items: center;
   margin-left: 150px;
   margin-right: 150px;
  
    
}
.logo-footer{
    height: 35px;
}
h4{
    20px;
}
.colour{
    color: black;
}
.line-space{
padding-bottom: 10px;
}
 .footer-title{
        margin-bottom: 30px;
    }
p{
    font-size: 18px;
}
.footer-bg{
    background-color: #011305;
}
.copy{
    text-align: center;
    padding: 15px;
}
.clr-white{
    color: white;
}
hr{
    margin-left: 150px;
    margin-right:150px;
}